@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



/* Color panduan

dark            : #3a3d39
yellow          : #f2f5c6
ijo biru muda   : #45c2c4
ijo biru gelap  : #00ced1
merah skicik    : #c7664c

*/


/* Header */
.header{    
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 400ms;
}

.lock{
    padding: 10px;
    background-color: #3a3d39;   
}

.lock .nav-logo{
    font-size: 2.6rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f2f5c6;
    padding: 0px;
    border-radius: 0;
    background-color: rgba(245, 222, 179, 0);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 18rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #f2f5c6;
}

.nav-logo {
    font-size: 2.6rem;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    color: #3a3d39;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f2f5c6;
}

/* end header */



/* Main Content  */
.main-content{
    font-family: Arial, Helvetica, sans-serif;
}

  
.hero {
    height: 1000px;
    width: 100%;
    position: relative;
    background: black;
    overflow: hidden;
}


.hero img{
    object-fit: cover;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.hero-overlay {
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 40px;
    color: black;
    max-height: 500px;
    width: 1000px;
  }

  .hero-overlay button{
    background-color: #f2f5c6;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    padding: 15px 20px 15px 20px;
    border: none;
    margin-top: 50px;

  }

.container{
    width: 1000px;
    padding: 60px;
    min-height: 200px;
    margin: auto;
    font-size: medium;
    background-color: white;
}

.card{
    background-color: white;
    width: 100%;
    box-shadow: 0.2px 0.6px 5px #9999;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto 
}

.card-header{
    background-color: #1c6d6e;
    box-shadow: 0.2px 0.6px 5px #9999;
    width:100%;
    border-bottom: #3a3d39;
    padding: 1.2em;
    font-size: 13px;
    padding-left: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-header h1{
    color: #f2f5c6;
    font-weight: 300px;
}

.card-body{
    width: 100%;
    min-height: 200px;
    padding: 2em;
    font-size: medium;
}

.card-footer{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: medium;
    padding: 15px 30px 15px 30px;
    border-top: 1.5px solid #1c6d6e63;
}

.container-gallery{
    display: flex;
    width: 1000px;
    padding: 60px;
    min-height: 200px;
    margin: auto;
    font-size: medium;
    background-color: white;
}


.gallery{
    box-shadow: 0.2px 0.6px 5px #9999;
    max-width: 35ch;
    border-radius: 20px;
    max-height: 70ch;
    margin: 20px;
    background-color: #1c6d6e;
}

.gallery hr{
    margin-bottom: 10px;
}

.gallery:hover{
    box-shadow:0px 0px 13px rgba(2, 0, 0, 0.384);
}

.gallery-image{
    width: 100%;
    border-radius: 20px;
}

.gallery-image img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery-content{
    font-size: small;
    z-index: 0;
    padding: 1em;
    width: 100%;
    border-radius: 20px;
    color: white;
}

 .gallery-tittle{
    margin: 10px 0px 10px 0px;
    text-align: left;
    color: white;
    font-size: 12px;
}

.gallery-text{  
    text-align: start;
}


.button {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    background-color: #f2f5c6;
    border-radius: 10px;
    color:#3a3d39;
}

.gallery-footer{
    text-align: start;
    margin: 30px 0px 15px 0px;
}



/* End Of Main Contetn */
@media only screen and (max-width: 933px) {


    .lock{
        padding: 10px;
        background-color: #3a3d39;   
    }

    .navbar {
        padding: 1.5rem 5rem;
        background-color: #3a3d39;   

    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color:white;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.2s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #3a3d39;
    }
    
    .nav-link:hover{
        color: #00ced1;
    }

    .nav-logo{
        font-size: 2.6rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #f2f5c6;
        padding: 0px;
        border-radius: 0;
        background-color: rgba(245, 222, 179, 0);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .hero-overlay {
        top: 20%;
        left: 0%;
        text-align: center;
        margin-top: 40px;
        font-size: 20px;
        color: white;
        width: 100%;
      }


    .container{
        width: 100%;
    }

    .hero {
        height: 600px;
    }
    
    
}


@media screen and (max-width: 360px) {
    .hero-overlay {
        top: 30%;
      }
 }